<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Tervetuloa {{ user.username }}!

  <p><a href="{% url 'upload' %}">Lisää kulukorvaus</a></p>
  <p></p>
  <p><a href="{% url 'korvaukset' %}">Tarkastele kulukorvauksia</a></p>

  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
<head>
  <title>Korvaa sitä kulua</title>
</head>
  <h1>
<font face = "Comic sans MS" size =" 4">Tervetuloa N.N:n yhdistyksen sähköiseen
kulukorvausjärjestelmään!</font><br /></h1>

  <a href="{% url 'signup' %}">Rekisteröidy palveluun</a>
  <p></p>
  <a href="{% url 'login' %}">Kirjaudu</a>
{% endif %}
{% endblock %}
