<!DOCTYPE html>
{% extends 'base.html' %}
{%load staticfiles%}
{%load static%}


{% block title %}Korvaukset{% endblock %}


{% block content %}
  <h2>Korvaukset</h2>

  {% if kulukorvaukset %}
   Sinulla on {{ kulukorvaukset|length }} järjestelmään tallennettua kulukorvausta:
   <p></p>

   {% for korvaus in kulukorvaukset %}
      <table>
        <tr>
          <td>
            <a href= "{%get_media_prefix%}{{korvaus.korvausdokumentti}}">{{korvaus.selite}}</a></td>
          <td>
            {{korvaus.palautusaika}}</td>
          <td>{{korvaus.korvaussumma}} €</td>
          <td>{{korvaus.status}}</td>
        </tr>
      </table>
   {% endfor %}

  {% else %}
     Sinulla ei ole järjestelmään tallennettuja kulukorvauksia
  {% endif %}



{% endblock %}
