<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}

<div class="m-4 pb-3">

<h1>Lisää kulukorvaushakemus</h1>
<p></p>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Lähetä</button>
  </form>

  {% if messages %}

  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>

{% endif %}
  <p></p>
  <p><a class="btn btn-primary" href="{% url 'home' %}">Palaa pääikkunaan</a></p>
{% endblock %}
</div>
